.stundent-home {
    width: 100%;
}
.student-home-in {
    margin: auto;
    width: 100%;
}
.student-home-in-one {
    width: 100%;
}
.student-home-in-one-in p {
    width: 80%;
    font-size: 1.1rem;
}