.stundent-home {
    width: 100%;
}
.student-home-in {
    width: 95%;
    margin: auto;
}
.student-home-in-one {
    padding: 1rem 0rem;
}
.student-home-in-one-in p {
    width: 80%;
    font-size: 1.1rem;
}